In [96]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv('US_webdev.csv')
df = df.rename(columns={'Unnamed: 0': 'id'})

In [98]:
df.head()

,id,job_title,company,location,summary
0,0,Full Stack Web Developer,TRAINOR Associates,Connecticut,We’re always looking for a full stack web deve...
1,1,Front End Web Developer,Innovative Systems,"Pittsburgh, PA 15220",Innovative Systems is seeking an exceptional F...
2,2,Front-end Web Developer,Modern Message,Remote,At Modern Message our focus is on building gre...
3,3,WordPress Web Developer - Remote,TrustYou,Remote,Imagine a workplace which encourages you to ta...
4,4,Web Developer - CSS/HTML,Phantom,"Palo Alto, CA",We are looking for an outstanding Web Develope...

In [99]:
df.shape

(2579, 5)

In [100]:
# Clean the job listing summaries

df.summary = df.summary.str.lower()
df['summary'].replace('\n',' ',regex=True,inplace=True)
df['summary'].replace("•",' ',regex=True,inplace=True)
df['summary'].replace(',',' ',regex=True,inplace=True)
df['summary'].replace(':',' ',regex=True,inplace=True) 
df['summary'].replace('-',' ',regex=True,inplace=True)
df['summary'].replace('\?',' ',regex=True,inplace=True) # need \ escape character for regex
# df['summary'].replace('\.',' ',regex=True,inplace=True) # need \ escape character for regex
df['summary'].replace('\*',' ',regex=True,inplace=True) # need \ escape character for regex

df.to_csv('~/Desktop/cleaned.csv')

df.head(5)

,id,job_title,company,location,summary
0,0,Full Stack Web Developer,TRAINOR Associates,Connecticut,we’re always looking for a full stack web deve...
1,1,Front End Web Developer,Innovative Systems,"Pittsburgh, PA 15220",innovative systems is seeking an exceptional f...
2,2,Front-end Web Developer,Modern Message,Remote,at modern message our focus is on building gre...
3,3,WordPress Web Developer - Remote,TrustYou,Remote,imagine a workplace which encourages you to ta...
4,4,Web Developer - CSS/HTML,Phantom,"Palo Alto, CA",we are looking for an outstanding web develope...

In [108]:
# This is the master dictionary that controls the counts. 
# If you want any instance of the string then simply put it in quotes
# If you want to make sure that the string is only counting instances of that word 
# and not instances where it is part of another word then make sure to put spaces at the ends of the string
# For example, adding "java" will also count instances of the "java" found in the word in "javascript"
# include spaces to " java " in order to get instances of that word by itself.
# Each instance of a term will be totaled under its corresponding key.

word_dict = {
    'javascript': ['javascript'],
    'react': [' react ', 'reactjs', 'react.js'],
    'angular': [' angular ', 'angularjs', 'angular.js'],
    'node': [' node ', 'nodejs', 'node.js'],
    'mongodb': ['mongodb'],
    'computer science': ['computer science'],    
    'java': [' java '],
    'python': ['python'],
    'django': ['django'],
    'php': ['php'],
    'ruby': ['ruby'],
    'c#': ['c#'],
    'c++': ['c++'],
    'swift': ['swift'],
    'html': [' html ', 'html5'],
    'css': [' css ', 'css3'],
    'less': [' less '],
    'sass': ['sass'],
    'front end': ['front end'], # I removed dashes so this should cover "front-end" as well.
    'back end': ['back end'],
    'agile': ['agile'],
    'ajax': ['ajax'],
    'rest': ['rest'],
    'git': ['git'],
    'github': ['github'],
    'sql': [' sql '],
    'mysql': ['mysql'],
    'nosql': ['nosql'],
    'ui_ux': ['ui/ux'],
    "bachelor's": [" bachelor's ", ' bachelor ', 'bachelors']
}

In [109]:
# New DataFrame to hold total word counts
total_counts_headers = dict(word_dict) # makes a copy instead of passing by reference

column_header_values = {}

for key in total_counts_headers:
    for value in total_counts_headers[key]:
        column_header_values[value] = 0
counts = pd.DataFrame(column_header_values, index=[0])

counts.head()

,angular,bachelor,bachelor's,css,html,java,less,node,react,sql,...,nosql,php,python,react.js,reactjs,rest,ruby,sass,swift,ui/ux
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
# New DataFrame to hold individual word counts
counts_headers = dict(word_dict)

column_header_keys = {}

for key in counts_headers:
    column_header_keys[key] = 0
total_counts = pd.DataFrame(column_header_keys, index=[0])

total_counts.head()

,agile,ajax,angular,bachelor's,back end,c#,c++,computer science,css,css preprocessors,...,nosql,php,python,react,rest,ruby,sass,sql,swift,ui_ux
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
def get_mentions(word_dict):
    for key in word_dict:
        total = 0
        for value in word_dict[key]:
            for i, row in df.iterrows():
                if value in row.summary:
                    df.loc[i, value]=1
            counts[value] = df[value].value_counts()[1]
            total = total + df[value].value_counts()[1]
        total_counts[key] = total
                
get_mentions(word_dict)

In [105]:
counts.head()

,angular,bachelor,bachelor's,css,html,java,less,node,react,sql,...,nosql,php,python,react.js,reactjs,rest,ruby,sass,swift,ui/ux
0,89,12,507,1055,1169,416,191,30,238,608,...,22,479,231,7,24,516,336,238,4,51

In [106]:
total_counts.head()

,agile,ajax,angular,bachelor's,back end,c#,c++,computer science,css,css preprocessors,...,nosql,php,python,react,rest,ruby,sass,sql,swift,ui_ux
0,468,818,470,541,254,544,159,1558,1772,11,...,22,479,231,269,516,336,238,608,4,51

In [107]:
counts.to_csv('US_webdev_words.csv')
total_counts.to_csv('US_webdev_totals.csv')